/* common */
html, body{
	margin: 0;         /* 余白の削除 */
	padding: 0;        /* 余白の削除 */
	width:100%;
	height:100%;
}

body {
	font-size: 12px;
	font-family: Verdana,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	color: #202020;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
	transition: 0.6s;
}

ul {
	padding: 15px 0 0 0;
}

i {
	font-size: 16px;
	margin: 7.5px 2.5px 0 0;
}

/* header */
body #wrapper {
	margin: 60px 20px 20px 20px;
}

header .active {
	background-color: #778899;
	color: white;
}

header .not_active {
	color: dimgray;
}

ul .sns_icons {
	margin-bottom: 60px;
}
/* header */

/* main */
#wrapper main {
}

main .article {
	margin-top: 60px;
	margin-bottom: 40px;
}

.article a {
	/*display: block;*/
}

.article img {
	width: 100%;
	height: auto;
}

.article .info {
	margin-top: -7px;
	margin-bottom: 60px;
}

.article .title {
	margin: 10px 0 0 0;
	font-size: 20px;
	color: #202020;
}

.article .date {
	margin-top: 5px;
	margin-bottom: 3px;
	font-size: 8px;
	color: #202020;
}

.article .category {
	margin-top: 0;
	font-size: 8px;
	color: #202020;
}

.section img {
	margin-bottom: 25px;
}


.section p {
	margin: 0 0 25px 0;
	line-height: 25px;
}

.article .pager {
	width:100%;
	margin-top: 50px;
	padding-top: 50px;
	border-top: solid 2px lightgray;
}

.pager a {
	color: dimgray;
}
/* main */

/* footer */
footer p {
	color: dimgray;
	margin-top: 50px;
	font-size: 10px;
}
/* footer */
 
@media screen and (min-width:1024px) { 
    /*　for PC　*/
    body {
    	font-size: 12px;
    }

    body #wrapper {
		/*margin: 20px;*/
	}

	header {
		position: fixed;
	    top: 80px;                   
	    left: 60px;
	    width: 125px;
	}

	main {
		width: 70%;
		margin: 80px 0 100px 220px;
	}

	footer {
		margin: 0 0 0 220px;
	}

}